/* Шрифты */
@font-face {
	font-family: 'ProximaNovaB';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaR';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
} 
.reg() {
	font-family: 'ProximaNovaR', sans-serif;
}
.bold() {
	font-family: 'ProximaNovaB', sans-serif;
}
/* Палитра */
@btn-color: #fcb303;
@icn-color: #46b814;
@txt-color: #1a1820;
@ganger: #ff0000;
@bg-light: #f5f5f5;
@light: #ffffff;
@border-input: #dddddd;
@problems: #e8e8e8;
@upsell-bg: #286b0a;

/* Базовые настройки */
html {
	font-size: 10px;
}
body {
	.reg();
}
a:hover {
	text-decoration: none;
}
button, input, textarea, a {
	&:focus {
		outline: none;
	}
}
.button {
	padding: 1rem 3rem;
	border-radius: 8px;
	font-size: 1.2rem;
	background-color: @btn-color;
	color: @light;
	text-transform: uppercase;
	border: none;
	transition: alt 0.5s;
	&:hover {
		cursor: pointer;
		background-color: darken(@btn-color,5%);
	}
}

/* Оформление форм */
.form {
	&-header {
		font-size: 1.8rem;
		margin-bottom: 4rem;
		strong {
			font-size: 1.9rem;
		}
	}
	&-input {
		display: block;
		margin: 2rem 0;
		border: 1px solid @border-input;
		border-radius: 5px;
		width: 100%;
		padding: 1.5rem;
	}
	label {
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0.5rem;
		.reg();
		font-size: 1.3rem;
		background-color: @light;
	}
	&-btn {
		display: block;
		height: 5.5rem;
		width: 100%;
		font-size: 1.6rem;
	}
}

/* Типографика */
section {
	padding: 10rem 0;
}
.section-header {
	&-light {
		color: @light;
		margin-top: 0;
	}
	h2 {
	.bold();
	font-size: 3.6rem;
	}
	p {
		font-size: 1.4rem;
	}
	text-align: center;
	margin: 2rem 0 10rem;
}

/* Первый экран */
.main {
	background: #fff url(../img/main-bg.jpg) center center no-repeat;
	padding: 3rem 0 5rem;
	background-size: cover;
	&-content {
		margin-top: 14rem;
		/* главный заголовок */
		h1 {
			margin-top: 0;
			margin-bottom: 4rem;
			.bold();
			font-size: 4rem;
			text-transform: uppercase;
			line-height: 1.45;
		}
		p {

		}
	}
	/* подзаголовок */
	&-subtitle {
		margin-bottom: 4rem;
		font-size: 2.4rem;
	}
	&-trigger {
		margin-top: 3rem;
		display: block;
		font-size: 2.2rem;
		text-transform: uppercase;
		.bold();
	}
	/* зелёный ярлык */
	span {
		display: inline-block;
		padding: 3rem 5rem;
		font-size: 1.8rem;
		color: @light;
		background-color: @icn-color;
		text-align: center;
		strong {
			font-size: 3rem;
			.bold();
		}
	}
	/* главная форма */
	&-form {
		padding: 4rem 5rem;
		background-color: @light;
		text-align: center;
		small {
			display: block;
			margin-top: 1.5rem;
		}
	}
}

.header {
	height: 7rem;
}
.wrap {
	display: table;
	width: 100%;
	height: 7rem;
	&-block {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
}
.phone {
	&-block {
		text-align: right;
	}
	&-link {
		display: inline-block;
		.bold();
		font-size: 2rem;
		line-height: 7rem;
		color: @txt-color;
	}
}

/* Оформление секции с преимуществами */
.features {
	&-block {
		text-align: center;
		h3 {
			.bold();
			font-size: 2rem;
			margin-bottom: 3rem;
		}
		p {
			font-size: 1.4rem;
			display: inline-block;
			width: 80%;
		}
	}
	&-img {
		height: 8rem;
		margin-bottom: 3rem;
		img{
		display: block;
		margin: 0 auto;
		}
	}
}
.slick-active {
	outline: none;
}
.arrow {
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	z-index: 99;
	width: 2rem;
	height: 2rem;
	border: none;
	background-size: 70%;
}
.prev {
	left: 0;
	background: url(../img/left-arrow.svg) center no-repeat;
	background-size: 70%;
}
.next {
	right: 0;
	background: url(../img/right-arrow.svg) center no-repeat;
	background-size: 70%;
}

/* Секция с ценами */
.price {
	background: @icn-color url(../img/prices/prices-bg.jpg) center;
	&-header-btn {
		margin-top: 2rem;
	}
	&-button {
		text-align: center;
	}
	&-block {
		padding: 2rem 3rem 4rem;
		min-height: 50rem;
		background-color: @light;
		box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
		text-align: center;
		h4 {
			margin: 3rem;
			font-size: 1.9rem;
			.bold();
		}
		img {
			width: 100%;
			max-width: 30rem;
			display: inline-block;
			margin-bottom: 2rem;
		}
	}
	&-tag {
		font-size: 1.9rem;
		display: block;
		.bold();
	}
	&-list {
		padding: 0;
		list-style: none;
		min-height: 14rem;
		font-size: 1.6rem;
		line-height: 1.6;
		li {
			&:before {
				content: '';
				display: inline-block;
				width: 1.4rem;
				height: 1.4rem;
				background: url(../img/prices/check.svg) no-repeat center;
				background-size: 100%;
				vertical-align: middle;
				margin-right: 1rem;
			}
		}
	}
}

/* Секция с отзывами */
.feedback {
	position: relative;
	background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
	background-size: cover;
	&-prev-btn {
		left: -4rem;
	}
	&-next-btn {
		right: -4rem;
	}
	&-text {
		position: relative;
		margin-top: 2rem;
		padding: 1rem;
		border: 2px solid @icn-color;
		font-style: italic;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: -2rem;
			left: 3rem;
			width: 2rem;
			height: 2rem;
			background: @light;
			border: 2px solid @icn-color;
			border-bottom: none;
			border-top-right-radius: 100px;
		}
	}
	&-slider {
		padding: 5rem 6rem;
		background: @light;
		box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
		.media {
			margin-top: 3rem;
			font-size: 1.4rem;
			h4 {
				.bold();
			}
		}
		&-btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 4rem;
			height: 5rem;
			background-color: @icn-color;
			border: none;
			img {
				width: 50%;
			}
		}
	}

/* Форма обратной связи */
	&-form {
		margin-top: 5rem;
		padding: 4rem 10rem;
		background: @light;
		text-align: center;
		h3 {
			.bold();
			font-size: 2rem;
			margin-bottom: 1rem;
		}
		label {
			transform: translate(-50%, 7px);
		}
	}
	&-btn {
		max-width: 30rem;
		margin: auto;
	}
}
.hand {
	position: absolute;
	left: 0;
	bottom: 0;
	max-width: 30rem;
}

/* Схема работы */
.scheme {
	background: #fff url(../img/scheme/hand.png) bottom right -10rem no-repeat;
	background-size: 60rem;
	&-block {
		min-height: 30rem;
	}
	h3 {
		font-size: 2rem;
		.bold();
	}
}

/* 100% всё квлючено! */
.all-inclusive {
	background: @bg-light;
	.media {
		min-height: 12rem;
		h4 {
			.bold();
			font-size: 1.6rem;
		}
		font-size: 1.3rem;
	}
}
.circle {
	display: inline-block;
	background: @icn-color;
	width: 4.2rem;
	height: 4.2rem;
	border-radius: 50%;
	margin: 0.2rem;
	&-border {
		display: inline-block;
		width: 5rem;
		height: 5rem;
		border: 2px solid @icn-color;
		border-radius: 50%;
		text-align: center;
		line-height: 4rem;
		color: @light;
		.bold();
		font-size: 1.9rem;
	}

}

/* Блок problems */
.problems {
	position: relative;
	&-girl {
		position: absolute;
		width: 30rem;
		bottom: 0;
		left: 50%;
		margin-left: -19rem;
	}
	&-list {
		border: 4px solid @icn-color;
		padding: 2rem;
		min-height: 35rem;
		margin-bottom: 2rem;
		h4 {
			.bold();
			font-size: 2.1rem;
		}
		ul {
			list-style: none;
			padding-left: 0;
			li {
				margin-bottom: 3rem;
				position: relative;
				padding-left: 3.5rem;
				&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 3rem;
						height: 3rem;
				}
			}
		}
		&-bad {
			border-color: @problems;
			h4 {
				opacity: 0.5;
			}
			ul li:before {
				background: url(../img/cancel.svg) center no-repeat;
				background-size: 70%;
			}
		}
		&-good {
			ul li:before {
				background: url(../img/prices/check.svg) center no-repeat;
				background-size: 70%;
			}
		}
	}
}

/* Материалы */
.materials {
	background: @light url(../img/feedback/feedback-bg.jpg) center no-repeat;
	background-size: cover;
	&-slider {
		padding-top: 5rem;
	}
	&-link {
		color: @icn-color;
		border-bottom: 1px dotted @icn-color;
		&:hover {
			color: darken(@icn-color, 10%);
		}
	}
	&-offer {
		margin-top: 4rem;
	}
	img {
		display: block;
		margin: 0 auto;
	}
}

/* Посмотрите как мы работаем */
.tour {
	background: @light url(../img/tour-bg.jpg) center no-repeat;
	background-size: cover;
	&-subtitle {
		font-size: 2.2rem;
	}
}

/* Дополнительные услуги */
.upsell {
	background: @upsell-bg;
	&-block {
		&s {
			margin-top: 3rem;
		}
		img {
			display: inline-block;
			margin-bottom: 2rem;
			width: 100%;
			max-width: 30rem;
		}
		p {
			font-size: 2rem;
		}
		min-height: 30rem;
		text-align: center;
		color: @light;
	}
}


/* Оформление модальных окон */
.popup {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.7);
	&-content {
		position: fixed;
		left: 50%;
		top: 10%;
		background-color: @light;
		transform: translateX(-50%);
		padding: 4rem 6rem;
		text-align: center;
	}
	&-form {
		margin-top: 3rem;
		padding: 0;
	}
	&-close {
		position: absolute;
		top: -1.5rem;
		right: -2rem;
		width: 2rem;
		text-align: center;
		border: none;
		background-color: transparent;
		font-size: 3rem;
		color: @light;
		}
	&-header {
		.bold();
	}
}

@media (max-width: 1199px) {
	.feedback {
		&-form {
			padding: 3rem 5rem;
		}
		.fotorama {
			margin-bottom: 3rem;
		}
	}
	.problems {
		&-list {
			min-height: 40rem;
		}
	}
}

@media (max-width: 991px) {
	.main {
		background-position: top right;
	}
	.phone-block {
		text-align: center;
	}
	.main-content {
		margin-top: 3rem;
	}
	.main-title {
		text-align: center;
		padding-bottom: 3rem;
	}
	.left-arrow {
		position: absolute;
		top: 50%;
		left: 0;
		transform: scaleY(-50%);
	}
	.price {
		&-button {
			text-align: center;
			padding: 2rem;
		}
		&-header-btn {
			margin-top: 0;
			margin-bottom: 2rem;
		}
		&-block {
			margin-top: 2rem;
		}
	}
	.section-header-light, .section-header {
		margin-bottom: 0;
	}
	.feedback {
		.fotorama__nav-wrap {
			display: none;
		}
		&-form {
			label {
				transform: translate(-50%, -50%);
			}
		}
		.hand {
			display: none;
		}
	}
	.all-inclusive {
		background: @bg-light;
		.media {
			min-height: 10rem;
		}
	}
	.problems {
		&-list {
			min-height: auto;
		}
		&-girl {
			display: none;
		}
	}
	.tour {
		background: none;
		background-color: @bg-light;
	}
}
@media (max-width: 767px) {
	.main {
		background-position: top left;
		h1 {
			font-size: 3rem;
		}
	}
	.header, .wrap-block {
		text-align: center;
	}
	.features {
		&-block {
			p {
				width: 60%;
			}
		}
	}
	.feedback {
		&-prev-btn {
			left: 0;
		}
		&-next-btn {
			right: 0;
		}
	}
	.scheme {
		background: none;
		text-align: center;
		&-block {
			min-height: 20rem;
		}
	}
	.all-inclusive {
		background: @bg-light;
		.media {
			min-height: 8rem;
		}
	}
}